each post in posts
 div#post_container 
               div#profile
                  if(post.creator.photo.url)
                     img(src=post.creator.photo.url)
                  else
                     img(src="../static/imagesForPost/profile.png")
                  p#name= post.creator.username  
                     small= 'at '+ post.date   
                  b(id="showFollowers"+post._id,class="showFollowers showFollowers"+post.creator._id)= post.creator.followers+' Followers'
                  button#activityCloseBtn Close   
               div#main
                  div#head
                     div#countZIndex 
                        p(id='showLikes'+post._id)= post.likes+ ' Likes' 
                        p(id='showComments'+post._id)= post.comments+ ' Comments'
                  div#main-img-desc     
                     img#PostImg(src=post.image.url)
                     div.details.z-index-details
                        div#title
                              span  #[b Title: ] #{post.title} 
                        div#discription 
                              span #[b Description: ] #{post.description}
                        div#phoneNo
                              span #[b Contact No: ] #{post.contact}
                        div#city
                              span #[b City: ] #{post.city}
               div#action-content
                  if(activity_action === 'commented') 
                     p #[b Your Comment: ] #{activity_comment} 
                        span #[img(src='../static/images/clock.png')] #{activity_date}         
                  else if(activity_action === 'followed' || activity_action === 'unfollowed') 
                     p #[b You #{activity_action+' '+post.creator.username}] 
                        span #[img(src='../static/images/clock.png')] #{activity_date}         
                  else 
                     p #[b You #{activity_action+' this post.'}]  
                        span #[img(src='../static/images/clock.png')] #{activity_date}                  