each post in posts  
            div#post_container 
               div#profile
                  if(post.creator.photo)
                     img(id=post.creator._id  ,class= currentUserId , src=post.creator.photo.url)
                  else
                     img(id=post.creator._id , src="../static/imagesForPost/profile.png")
                  p#name= post.creator.username  
                     small= ' at '+ post.date   
                  b(id="showFollowers"+post._id,class="showFollowers"+post.creator._id+" showFollowers")= post.creator.followers+' Followers'  
                  if(currentUserId != post.creator._id)    
                     button(id="f-btn",class="f-btn"+post.creator._id,value=post.creator._id +" "+post._id,class="followButton")= currentUserFollowingsArray.includes(post.creator._id) ? 'Unfollow' : 'Follow'
                  else
                     button(id="f-btn" class="f-btn"+post.creator._id title="can't follow to yourself" disabled)= 'Follow'  
                     
               div#main
                  div#head
                     div#count 
                        p(id='showLikes'+post._id)= post.likes+ ' Likes' 
                        p(id='showComments'+post._id)= post.comments+ ' Comments'
                  div#main-img-desc     
                     img#PostImg(src=post.image.url)
                     div.details
                        div#title 
                              p #[b Title: ]  #{post.title} 
                        div#discription 
                              p #[b Description: ]  #{post.description}
                              p #[b Contact No: ]  #{post.contact}
                              p #[b City: ]  #{post.city}
               div#actiondiv
                  if(currentUserId != post.creator._id)
                     div#like
                        i(class=post.likedArray.includes(currentUserId) ?"fa fa-thumbs-up" :"fa fa-thumbs-o-up",class="like",value=post._id)
                        p(id='showliketext'+post._id)= post.likedArray.includes(currentUserId) ? 'unlike' : 'like'  
                     div#comment
                        i(class=post.commentedArrayWithOnlyUserId.includes(currentUserId) ?"fa fa-comment fakeClass" :"fa fa-comment-o fakeClass",id=currentUserId,class="comment",value=post._id)
                        p(id='showcommenttext'+post._id) comment    
                     div(id="share",value=post._id,class="share")
                        img(src="../static/images/share (1).png")
                        | share  
                     div#save
                        i(class=post.savedArray.includes(currentUserId) ?"fa fa-bookmark" :"fa fa-bookmark-o",class="save",value=post._id)
                        p(id='showsavetext'+post._id)= post.savedArray.includes(currentUserId) ? 'saved' : 'save' 
                  else
                     div#like.DisableAction
                        i(class="fa fa-thumbs-o-up" title="can't like to your own post.")
                        p(id='showliketext'+post._id)='like'  
                     div#comment
                        i(class=post.commentedArrayWithOnlyUserId.includes(currentUserId) ?"fa fa-comment fakeClass" :"fa fa-comment-o fakeClass",id=currentUserId,class="comment",value=post._id)
                        p(id='showcommenttext'+post._id) comment    
                     div(id="share",class="share",value=post._id)
                        img(src="../static/images/share (1).png")
                        | share  
                     div#save
                        i(class=post.savedArray.includes(currentUserId) ?"fa fa-bookmark" :"fa fa-bookmark-o",class="save",value=post._id)
                        p(id='showsavetext'+post._id)= post.savedArray.includes(currentUserId) ? 'saved' : 'save' 
                         

               div(id="maincommentcontainer"+post._id , class="maincommentcontainer")
                  hr
                  h4#commentHeader All Comments #[button(id="closebutton",class="closebutton",value=post._id) &#10006;] 
                  div(class="writecommentdiv",id="writecomment")
                        textarea(name="writtencomment" id="writtencomment"+post._id placeholder="Comment Here ..." cols="35" rows="4")
                        button(id="submitcomment"+post._id, class="submitcomment") #[i(class="material-icons") &#xe163;]
                  div(id="innercommentcontainer"+post._id,  class="innercommentcontainer")
                     div(class="loader") ...Loading