extends basic.pug


block style 
    style 
        include ../static/css/myActivity.css
        include ../static/css/yourPost.css
        include ../static/css/dialogBox.css
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 
        
    
block scripts 
    script
        include ../static/script/myActivity.js
        include ../static/script/yourPost.js
        include ../static/script/post.js
        include ../static/script/dialogbox.js
        
    
    

block content 
    div.container 
        div.buttonsdiv
            div.colourful#colourful 
            button(onclick='post();').activityChangebtn#postbtn Your Posts 
            button(onclick='activity();').activityChangebtn#activitybtn Your Activity 
        div.describe
            div.post#post
                div.ONEPOSTFOREXAMPLE
                    h2='TOTAL POST : '+posts.length
                each post in posts   
                    div#post_container(class="post"+post._id) 
                      div#main
                         div#head
                            div#descTime
                               p='You Added This Post at '+ post.date 
                            div#count 
                               p=post.likes+ ' Likes' 
                               p=post.comments+ ' Comments'
                         div#main-img-desc     
                            img#PostImg(src=post.image)
                            div.details
                               div#title 
                                 div.divlabel 
                                    p Title 
                                    label : 
                                 input(id="titleEdit"+post._id,class="NormalMode titleEdit editPostInput"+post._id,value=post.title, type="text") 
                               div#discription
                                  div.divlabel  
                                    p Description 
                                    label : 
                                  input( id="descEdit"+post._id,class="NormalMode descEdit editPostInput"+post._id,value=post.description, type="text") 
                               div#phoneNo
                                  div.divlabel  
                                    p phone 
                                    label : 
                                  input( id="contactEdit"+post._id,class="NormalMode contactEdit editPostInput"+post._id,value=post.contact, type="number")
                               div#city 
                                  div.divlabel  
                                    p City 
                                    label : 
                                  input(id="cityEdit"+post._id,class="NormalMode cityEdit editPostInput"+post._id,value=post.city, type="text")    
                               div#EditDeleteButton 
                                  button(id="editBtn"+post._id,class="editButton",onclick="OnEdit(this,'"+post._id+"')") Edit
                                  button(id="deleteBtn"+post._id,class="deleteButton",onclick="OnDelete(this,'"+post._id+"')") Delete
                //- include ./yourPost.pug
            div.activity#activity.grid-container 
                each activity in userActivities
                  if(activity.activity_action !== 'followed' && activity.activity_action !== 'unfollowed')
                     div#g-post_container(class="activity_post"+activity.post._id,onclick="onClickActivity(this,'"+activity._id+"')") 
                        div#g-main
                           div#g-head
                              div#g-descTime
                                 if(activity.activity_action == 'followed' || activity.activity_action == 'unfollowed')
                                       p='You '+activity.activity_action +' a creator of this post at '+ activity.date 
                                 else if(activity.activity_action == 'commented')
                                       p='You commented on this post at '+ activity.date
                                 else
                                       p='You '+activity.activity_action +' this post at '+ activity.date
                                 
                              //- div#g-count 
                              //-    p=post.likes+ ' Likes' 
                              //-    p=post.comments+ ' Comments'
                           div#g-main-img-desc     
                              img#g-PostImg(src=activity.post.image)
                              div.g-details
                                 div#g-title 
                                    p #[b Title :] #{activity.post.title} 
                                 div#g-discription 
                                    p #[b Description :] #{activity.post.description} 
                                    p #[b phone :] #{activity.post.contact}
                                 div#g-city 
                                    p #[b City :] #{activity.post.city}
                  else 
                     div#g-post_container(class="activity_post"+activity.creator._id onclick="userProfile('"+activity.creator._id+"');") 
                        div#g-main
                           div#g-head
                              div#g-descTime
                                 p='You '+activity.activity_action +" "+activity.creator.username+" at "+ activity.date 
                           div#g-main-img-desc
                              if(activity.creator.photo)
                                 img#g-PostImg(src=activity.creator.photo)
                              else
                                 img#g-PostImg(src="../static/imagesForPost/profile.png")
                              div.g-details
                                 div#g-title 
                                    p #[b Name :] #{activity.creator.username} 
                                 div#g-discription 
                                    p #[b Followers :] #{activity.creator.followers} 
                                    p #[b Following :] #{activity.creator.followings}
                                    //- p #[b Likes :] #{activity.likes}
                                 //- div#g-city 
                                 //-    p #[b City :] #{activity.post.city}
    //- div.z-post_container
    //-     p Hello                              
    div.z-post_container#activityPost 