extends ./basic.pug

block style 
  style 
    include ../static/css/profile.css
    include ../static/css/dialogBox.css 
block scripts 
  script(src="../static/script/profile.js") 
block content
    div(class="container")
      form(action="/profile"  method="post" enctype='multipart/form-data') 
        p#forSnackBarCalling= message
        div.upperDiv
          div.image
            if photo
              div.innerImage
                img( src=photo  alt="Avatar" class="avatar")
            else
              div.innerImage
                div(class="avatar" id="avatardiv")= username.split(' ').length === 1 ? username.charAt(0).toUpperCase() :username.split(' ')[0].charAt(0).toUpperCase()+username.split(' ')[1].charAt(0).toUpperCase()
            .cameraIcon 
              |&#128247;
              input(type="file" class="imageInput" name="profileImg" title="Upload Profile From Here")
            .activities 
              p followers #[span 0]
              p Posts #[span 0]
              p following #[span 0]
          div.infoPerson
            h1.infoTitle Your Personal Info
            hr
            div.input
              label( class="")  Name :
              input( type="text" name="username" id="username" class="" value=username)
            div.input
              label( class="") Email :
              input( type="email" name="email" id="email" class="" value=email)
            div.input
              label( class="one") Contact No :
              input( type="number" name="contactno" id="contactno" class="contactno" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" pattern="[0-9]{10}" value=contact)
          div.actionButtons
            button( type="button" class= "editBtn" id="editBtn") Edit Profile
            button( type="submit" class="saveBtn" id="saveBtn") Save Changes
            button( type="button" class="cancelBtn" id="cancelBtn") Cancel 
            button( type="button" class= "changePass" id="changePass") Change Password  
            button(type="button" class= "deleteBtn" id="deleteBtn" onclick="onClickOnDelete();") Delete Account
        div.lowerDiv
          div.inputFields
            h1.workPlaceInfo Work Place Info
            hr
            div.input
              label(class="") City :
              input( type="text" name="city" list="cities" id="city" class="city" value=city)
              datalist#cities
                            option Mumbai
                            option Delhi
                            option Bangalore
                            option Hyderabad
                            option Ahmedabad
                            option Chennai
                            option Kolkata
                            option Surat
                            option Pune
                            option Jaipur
            div.input
              label( class="one") Work Place :
              input( type="text" name="workplace" id="workplace" class="" value=companyname)
        div#deleteAccountConfirmation.w3-modal
          .w3-modal-content.w3-animate-zoom.w3-card-4
            header.w3-container.w3-teal
              span.w3-button.w3-display-topright(onclick="onCloseDialogBox()") &times;
              h2#d-header Confirmation
            .w3-container
              p#d-info(style="color:black;") Are You Sure , do you really want to Delete Account?
            footer.w3-container.w3-teal#d-footer
              button(onclick="onCancelDeleteDialogBox()") Cancel 
              button(onclick="onContinueDeleteDialogBox()") #[a(href="/deleteAccount") Continue] 
        
